.about__hero .container {
    background-image: url(../img/2-page/Bitmap.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 10px;
    max-width: 1280px;
    width: 100%;
    padding: 85px 137px;
    margin-bottom: 170px;
}

.about__heading {
    font-family: "Fraunces";
    font-size: 40px;
    font-weight: 900;
    color: rgba(254, 252, 247, 1);
    margin: 0;
    margin-bottom: 24px;
}

.about__text {
    font-size: 16px;
    font-weight: 400;
    max-width: 445px;
    color: rgba(254, 252, 247, 1);
}


@media only screen and(max-width: 1000px) {
    .about__hero .container {
        background-position: right -1px bottom 46px;
    }
}

@media only screen and(max-width: 768px) {
    .about-hero .container {
        margin-bottom: 150px;
    }

    .about-hero__inner {
        padding: 118px 58px;
        background-size: 1211px 808px;
        background-position: right center center;
    }

    .about__heading {
        margin-bottom: 24px;
        font-size: 32px;
        line-height: 40px;
    }

    .about__text {
        max-width: 400px;
        font-size: 15px;
        line-height: 25px;
    }

}
