.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 45px 85px;
    background-color: rgba(44, 52, 62, 1);
}

.footer__left {
    max-width: 622px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    .nav__link:hover {
        color: rgba(254, 252, 247, 1);
    }
}

.icon__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.icon__link {
    transition: opacity 0.2s ease;
}

.icon__link:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 768px) {
    .footer {
        .container {
            flex-direction: column;
            margin-bottom: 25px;
        }
    }

    .nav__list {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .footer__left {
        flex-direction: column;
    }
}