.nav__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 285px;

    .nav__link {
        text-decoration: none;
        color: rgba(131, 136, 143, 1);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        transition: color 0.2s ease;

        &:hover {
            color: rgba(51, 61, 75, 1);
        }

        &--activ {
            color: rgba(51, 61, 75, 1);
        }
    }
}