.quality .container {
    position: relative;
    width: 1280px;
    background-color: rgba(44, 52, 62, 1);
    color: rgba(254, 252, 247, 1);
    border-radius: 10px;
    padding: 85px;
    padding-bottom: 176px;
    margin-bottom: 170px;
}

.quality__heading {
    font-family: "Fraunces";
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 40px;
    color: rgba(254, 252, 247, 1);
}

.quality__heading::before {
    position: absolute;
    width: 445px;
    height: 474px;
    bottom: 30%;
    right: 10%;
    background-image: url(../img/2-page/Bitmap-1.jpg);
    background-repeat: no-repeat;
    content: '';
    border-radius: 8px;
}

.quality__text {
    width: 540px;
    color: rgba(254, 252, 247, 1);
    opacity: 0.8;
    font-size: 16px;
}
