.road .container {
    background-color: rgba(44, 52, 62, 1);
    border-radius: 10px;
    padding: 117px 99px;
    margin-bottom: 160px;
    
    .works__list__heading , .works__list__paragraph {
        color: rgba(254, 252, 247, 1);
    }
}